
<ion-content>
  
  <ion-slides #slides>
    <ion-slide>
      <div class="mayor-slide">
        <img src="assets/img/icon.png" class="slide-image smaller-image"/>
      </div>
    </ion-slide>


  </ion-slides>

</ion-content>


<ion-footer>
  <div class="ion-padding">
    <ion-toolbar>
      <ion-button expand="block" (click)="startApp()">Login / Signup</ion-button>
    </ion-toolbar>

    <ion-toolbar>
      <ion-button expand="full" fill="clear" (click)="viewPrivacyPolicy()">Privacy Policy</ion-button>
    </ion-toolbar>
  </div>
</ion-footer>