
<app-action-icon-header
  (onClick)="mailResolution()"
  [actionIcon]="'mail-outline'"
  [defaultHref]="'/tabs/tabs/meetings/resolutions'"
></app-action-icon-header>

<ion-content *ngIf="resolution">

  <ion-list>
    <ion-item>
      <ion-label>
        <h1 class="ion-text-wrap"><b>{{resolution.Long_Name__c}}</b></h1>
        <p class="ion-text-wrap"><b>Committee:</b> {{resolution.Category__c}}</p>
        <p class="ion-text-wrap"><b>Resolution Number:</b> {{resolution.Resolution_Number__c}}</p>
        <p class="ion-text-wrap"><b>Status:</b> {{resolution.Status__c}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>

    <!-- && (showVotingButton || showSponsorship)-->
    <ion-item-divider sticky *ngIf="verifiedcontact && verifiedcontact.Contact_Roles__r && verifiedcontact.Contact_Roles__r.totalSize > 1 && (sponsorOpen || votingOpen)" style="background-color: transparent;">
      <ion-label >
        <ion-button expand="block" (click)="openPicker()">Acting As : {{selVerifiedContactDisplayName}} <ion-icon slot="end" name="caret-down-outline"></ion-icon></ion-button>
      </ion-label>
    </ion-item-divider>


    <ion-item *ngIf="showVotingButton &&  votes && votes.length > 0 && votes[0].vote =='No'" (click)="postVote('Revoked');">
      <ion-icon slot="end" name="remove-circle" [ngStyle]="{'color': meeting.Primary_Color__c ? meeting.Primary_Color__c : '#DA291C' }"></ion-icon>
      <ion-label>Revoke Vote</ion-label>
    </ion-item>

    <ion-item *ngIf="showVotingButton && votes && votes.length > 0 && (!votes[0].vote || votes[0].vote=='Revoked')" (click)="postVote('No');">
      <ion-icon slot="end" name="close-circle-outline" [ngStyle]="{'color': meeting.Primary_Color__c ? meeting.Primary_Color__c : '#DA291C' }"></ion-icon>
      <ion-label>Vote No</ion-label>
    </ion-item>

   <ion-item *ngIf="showVotingButton && votes && votes.length == 0" (click)="postVote('No');">
      <ion-icon slot="end" name="flag" [ngStyle]="{'color': meeting.Primary_Color__c ? meeting.Primary_Color__c : '#DA291C' }"></ion-icon>
      <ion-label>Vote No</ion-label>
    </ion-item>



    <ion-item *ngIf="showSponsorship && sponsors && sponsors.length > 0" (click)="postSponsor(false);">
      <ion-icon slot="end" name="create" [ngStyle]="{'color': meeting.Primary_Color__c ? meeting.Primary_Color__c : '#DA291C' }"></ion-icon>
      <ion-label>Revoke Sponsorship</ion-label>
    </ion-item>
    <ion-item *ngIf="showSponsorship && sponsors && sponsors.length == 0" (click)="postSponsor(true);">
      <ion-icon slot="end" name="create-outline" [ngStyle]="{'color': meeting.Primary_Color__c ? meeting.Primary_Color__c : '#DA291C' }"></ion-icon>
      <ion-label>Sponsor Resolution</ion-label>
    </ion-item>   
  </ion-list>



  <ion-list *ngIf="resolution && resolution.Sponsoring_Mayors__r">
    <ng-container *ngFor="let mayor of resolution.Sponsoring_Mayors__r.records; let i = index">
      <ion-item-divider *ngIf="i==0 || resolution.Sponsoring_Mayors__r.records[i].Type_Sort_Order__c != resolution.Sponsoring_Mayors__r.records[i-1].Type_Sort_Order__c" sticky> 
        {{mayor.Type__c}}
      </ion-item-divider>

      <ion-item (click)="goToMayorDetail(mayor)">
        <ion-avatar slot="start">
          <img [src]="mayor.Contact__r.Image_URL__c" alt="mayor profile pic">
        </ion-avatar>
        <ion-label>
          <h2 class="ion-text-wrap">{{mayor.Contact__r.Name}}</h2>
          <p class="ion-text-wrap" *ngIf="mayor && mayor.Contact__r && mayor.Contact__r.City__c && mayor.Contact__r.State__c">{{mayor.Contact__r.City__c}}, {{mayor.Contact__r.State__c}}</p>
          <p class="ion-text-wrap" >{{mayor.Role__c}}</p>
          <p class="ion-text-wrap" *ngIf="mayor && mayor.Contact__r && mayor.Contact__r.Account && !(mayor.Contact__r.City__c && mayor.Contact__r.State__c)">{{mayor.Contact__r.Account.Name}}</p>
        </ion-label>
      </ion-item>
    </ng-container>
  </ion-list>


  <ion-list>
    <ion-item *ngIf="segment == 'resolution' && resolution">
      <ion-label>
        <h2 class="ion-text-wrap"><span class="richText open-browser" [innerHTML]="resolution.Resolution_Text__c"></span></h2>
      </ion-label>
    </ion-item>
  </ion-list>


  <ion-list *ngIf="resolution && resolution.Resolution_Related_Sessions__r">
  
    <ion-item-divider sticky>
      Sessions
    </ion-item-divider>

    <ion-item-sliding *ngFor="let session of resolution.Resolution_Related_Sessions__r.records" >
      <ion-item-options side="start" *ngIf="session.Allow_Registration__c" >
        <ion-item-option color="danger" expandable (click)="removeSessionEnrollment(session, $event);" *ngIf="session.Session_Enrollments__r">
          Remove
        </ion-item-option>
        <ion-item-option color="primary" expandable (click)="addSessionEnrollment(session, $event);" *ngIf="!session.Session_Enrollments__r">
          Add
        </ion-item-option>
      </ion-item-options>

      <ion-item (click)="goToSession(session)">
        <ion-label>
          <h2 class="ion-text-wrap">{{session.Session__r.Name}}</h2>

            <p class="ion-text-wrap">{{session.Session__r.day}}</p>
            <p class="ion-text-wrap">{{session.Session__r.start_time}} - {{session.Session__r.end_time}}</p>
            <p class="ion-text-wrap" *ngIf="session.Session__r.Room__r && session.Session__r.Room__r.Name">{{session.Session__r.Room__r.Name}}</p>
        </ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>



