<ion-tabs>
  <ion-tab-bar #myTabBar id="myTabBar"  slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mayors">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Mayors</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="meetings">
      <ion-icon name="briefcase-outline"></ion-icon>
      <ion-label>Meeting</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="policies">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Policy</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="news">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>News</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
