
<app-sub-header [title]="'Get Assistance'" [defaultHref]="'/tabs/tabs/meetings'"></app-sub-header>
  
<ion-content>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Get Assistance</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-list>
    <ion-item>
      <ion-label>
        <h2 class="ion-text-wrap"><span class="richText open-browser" [innerHTML]="meeting.In_App_Help_Card__c"></span></h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
