
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title size="small">Verify</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-header collapse="condense">              
    <ion-toolbar> 
      <ion-title size="large">Verify</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>

    <ion-label>
      <p padding>
        You must verify the email that you have used to login to the USCM app in order to access special features, such as invite-only meetings or perform actions on behalf of a city. The verification process will check to see if your email is properly associated to your city or organization. To begin, tap send code.
      </p>
    </ion-label>


    <ion-button block outline (click)="sendCode();">Send Code</ion-button>


    <ion-item>
      <ion-label stacked>Enter Code</ion-label>
      <ion-input type="text" [(ngModel)]="code"></ion-input>
    </ion-item>

    <ion-button block outline (click)="verify();">Verify</ion-button>
  </ion-list>
</ion-content>
