<app-action-header
  (onClick)="saveProfile()"
  [defaultHref]="''"
  [actionTitle]="'Save'"
  [title]="'My Profile'">
</app-action-header>

<ion-content>
  <ion-header collapse="condense">              
    <ion-toolbar> 
      <ion-title size="large">My Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="profile">

    <ion-list>
      <ion-item class="profile-container" lines="none">
        <img [src]="profile.Image_URL__c" class="mayor-profile-img" alt="mayor profile pic">
      </ion-item>

      <ion-item lines="none" class="ion-text-center">

        <ion-label>
          <h2>{{profile.FirstName}} {{profile.LastName}}</h2>
          <p *ngIf="profile && profile.Verified_Contact__r">
            <ion-icon name="checkmark-circle-outline" isActive="true"></ion-icon> Verified 
          </p>
        </ion-label>
      </ion-item>
    </ion-list>



    <ion-item-divider sticky> 
      <span>Profile</span>   
    </ion-item-divider>
    
    <ion-item>
      <ion-label color="primary" stacked>First Name</ion-label>
      <ion-input placeholder="{{profile.FirstName}}" [(ngModel)]="profile.FirstName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Last Name</ion-label>
      <ion-input placeholder="{{profile.LastName}}" [(ngModel)]="profile.LastName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Email</ion-label>
      <ion-input placeholder="{{profile.Email}}" [(ngModel)]="profile.Email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>New Password (Greater than 8 characters)</ion-label>
      <ion-input type="password" placeholder="Password Input" [(ngModel)]="profile.newPassword"></ion-input>
    </ion-item>

    
    <div class="ion-padding">
      <ion-button *ngIf="!profile.Verified_Contact__r" expand="full" fill="clear" (click)="verifyProfile();">Verify Profile</ion-button> 
      <ion-button expand="block"  (click)="logout();">Logout</ion-button>
      <ion-button ion-button expand="full" fill="clear">App Version: 4.0.6</ion-button>
      <ion-button expand="full" fill="clear" (click)="viewPrivacyPolicy();">Privacy Policy</ion-button>
    </div>
  </ion-list>
</ion-content>


