
<app-sub-header [title]="''" [defaultHref]="'/tabs/tabs/meetings/committees'"></app-sub-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label>
        <h1 class="ion-text-wrap"><b>{{committee.Name}}</b></h1>
        <p class="ion-text-wrap">{{committee.Description__c}}</p>
      </ion-label>
    </ion-item>

    <ng-container *ngFor="let member of members; let i = index">
      <ion-item-divider sticky *ngIf="i==0 || (member.Type_Sort_Order__c != committee.Committee_Members__r.records[i-1].Type_Sort_Order__c)">  
        {{member.Type__c}}
        <span *ngIf="i != committee.Committee_Members__r.length && member.Type_Sort_Order__c == committee.Committee_Members__r.records[i+1].Type_Sort_Order__c">s</span>
      </ion-item-divider>



      <ion-item (click)="goToDetail(member)" [ngClass]="{'first-mayor-item': (i==0 || (member.Type_Sort_Order__c != committee.Committee_Members__r.records[i-1].Type_Sort_Order__c)) }" class="mayor-item" tappable>

        <ion-avatar slot="start">
          <img [src]="member.Contact__r.Image_URL__c" alt="mayor profile pic">
        </ion-avatar>
        <ion-label>
          <h2 class="ion-text-wrap">{{member.Contact__r.Name}}</h2>
          <p class="ion-text-wrap" *ngIf="member.Contact__r.City__c && member.Contact__r.State__c">{{member.Contact__r.City__c}}, {{member.Contact__r.State__c}}</p>
        </ion-label>
      </ion-item>
    </ng-container>
  </ion-list>

</ion-content>
