
<ion-header>
  <ion-toolbar>
    <ion-title size="small">Sponsors</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-header collapse="condense">              
    <ion-toolbar> 
      <ion-title size="large">Sponsors</ion-title>
    </ion-toolbar>

    <ion-toolbar>
      <ion-searchbar showCancelButton="focus" #searchbar [(ngModel)]="queryText" (ngModelChange)="scrollTopAndSearch($event)" placeholder="Search Sponsors"></ion-searchbar>
    </ion-toolbar> 
  </ion-header>

  <div class="ion-padding">
    <ion-segment [(ngModel)]="segment" (ionChange)="changeTab()">
      <ion-segment-button value="uscm">
        <ion-label>USCM</ion-label>
      </ion-segment-button>        
      
      <ion-segment-button value="host">
        <ion-label>Host City</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <ion-list *ngIf="segment == 'uscm'">
    <ng-container  *ngFor="let key of sponsorSegments ; let i = index">
      <ion-item-divider  [ngStyle]="{'background-color': meeting.Primary_Color__c }" style=" margin-bottom: 0px !important;" color="light" sticky >
        {{key[0].Sponsorship_Level__c}}
      </ion-item-divider>

      <ion-item (click)="goToSponsorDetail(sponsor)" *ngFor="let sponsor of key; let j=index;">
        <ion-avatar item-left>
          <img [src]="sponsor.Sponsor__r.Image_URL__c">
        </ion-avatar>
        <ion-label>
          <h2 class="ion-text-wrap">{{sponsor.Sponsor_Name__c}}</h2>
          <p class="ion-text-wrap"><span class="richText open-browser" [innerHTML]="sponsor.Sponsor__r.Subtitle_Text__c"></span></p>
        </ion-label>
      </ion-item>
    </ng-container >
  </ion-list>


  <ion-list *ngIf="segment == 'host'">
    <ng-container  *ngFor="let sponsor of hostSponsors; let i = index">

      <ion-item-divider *ngIf="i==0 || (hostSponsors[i].Sponsorship_Level__c != hostSponsors[i-1].Sponsorship_Level__c)" sticky >  
      {{sponsor.Sponsorship_Level__c}}
      </ion-item-divider>



      <ion-item (click)="goToSponsorDetail(sponsor)">
        <ion-avatar item-left >
          <img [src]="sponsor.Sponsor__r.Image_URL__c">
        </ion-avatar>
        <ion-label>
          <h2 class="ion-text-wrap">{{sponsor.Sponsor_Name__c}}</h2>
          <p class="ion-text-wrap">{{sponsor.Sponsor__r.Subtitle_Text__c}}</p>
        </ion-label>
      </ion-item>
    </ng-container >
  </ion-list>

</ion-content>
