<app-sub-header [title]="''" [defaultHref]="'/tabs/tabs/home/notifications'"></app-sub-header>

<ion-content>

  <ion-list>

    <ion-item>
      <ion-avatar slot="start">
        <img [src]="notification.Thumbnail_URL__c" alt="pic">
      </ion-avatar>
      <ion-label>
        <h3 class="ion-text-wrap"><b>{{notification.From__c}}</b></h3>
        <p class="ion-text-wrap">{{notification.time_ago}}</p>
      </ion-label>
    </ion-item>


    <ion-item>
      <ion-label>
        <h1 class="ion-text-wrap"><b>{{notification.Name}}</b></h1>
        <br/>
        <h2 class="ion-text-wrap"><span class="richText open-browser" [innerHTML]="notification.Message_Body__c"></span></h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
